.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: -1px 10px 47px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 47px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 47px 0px rgba(0,0,0,0.75);
    border:2px solid ;
    background: #a8edea; background: -moz-linear-gradient(to right,  #a8edea 0%,#fed6e3 100%); background: -webkit-linear-gradient(to right,  #a8edea 0%,#fed6e3 100%); background: linear-gradient(to right,  #a8edea 0%,#fed6e3 100%);
}